body {
  font-family: Arial, sans-serif;
  background: white;
  color: #222;
  margin: 0;
  padding: 20px;
}


/* HEADER */
.header {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #63b193;
}

.header h1 {
  font-size: 50px;
  margin: 0;
}

.subtitle {
  color: #777;
  margin-top: 5px;
}


/* CONTAINER */
.container {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}


/* CARD */
.card {
  width: 90%;
  min-height: 60vh;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.card h2 {
  margin-top: 0;
  font-size: 18px;
  border-left: 4px solid #63b193;
  padding-left: 10px;
}


/* INFOS CLIENT */

.grid-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.full {
  width: 90%;
}

/* blocs */
.info-block, .comment-box {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 20px;
  background: #fafafa;
}

/* titres */
.info-block h3, .comment-box h3 {
  margin-top: 0;
  font-size: 16px;
  border-left: 4px solid #63b193;
  padding-left: 10px;
}

/* texte commentaire */
.comment-box p {
  line-height: 1.6;
  color: #333;
  white-space: pre-wrap;
}

/* PRINT */
@media print {
  .card {
    break-inside: avoid;
  }
}
