<!DOCTYPE html>
<html lang="fr">
    <head>
    <meta charset="UTF-8">
    <title>Fiche client</title>
    <link rel="stylesheet" href="client.css">
    </head>

    <body>

        <header class="header">
            <h1>{{client_nom}}</h1>
            <p class="subtitle">Fiche client</p>
        </header>


        <main class="container">


            <!-- INFOS CLIENT -->
            <section class="card">
                <h2>Informations</h2>

                <div class="grid-layout">

                    <div class="top">
                        <div class="info-block">
                        <h3>Contact</h3>
                        <p><strong>Téléphone :</strong> {{client_tel}}</p>
                        <p><strong>Email :</strong> {{client_email}}</p>
                        </div>

                        <div class="info-block">
                        <h3>Adresse</h3>
                        <p>
                            {{client_adresse}}<br>
                            {{client_code_postal}} {{client_ville}}
                        </p>
                        </div>
                    </div>

                    <div class="comment-box full">
                        <h3>Commentaires</h3>
                        <p>{{client_commentaire}}</p>
                    </div>

                </div>
            </section>

        </main>

    </body>
</html>