<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../asset/css/Devis.css">
  </head>

  <body>

    <!-- HEADER -->
    <div class="header">
      <div>
        <strong>FM ABATTAGE</strong><br>
        14 rue du Thou<br>
        01240 Saint Paul de Varax<br>
        Tél : 06 78 69 66 86<br>
        Email : fmabattage@gmail.com
      </div>

      <div>
        <img src="data:image/png;base64,{{logo}}" width="120">
      </div>
    </div>

    <!-- TITRE -->
    <div style="width: 50%; margin-left: auto; text-align: left;">
      <h2 style="margin:0;">Devis</h2>
      <div style="border-top: 1px solid black; margin-top:5px;"></div>
    </div>

    <!-- INFOS -->
    <div class="info" style="display:flex; justify-content:space-between;">
      
      <!-- gauche -->
        <div class="client">
        <strong>Client</strong><br>
        {{client_nom}}<br>
        {{client_adresse}}<br>
        {{client_code_postal}} {{client_ville}}<br>
        France <br>
        {{client_tel}}
      </div>

      <!-- droite -->
      <div class="devis">
        <table>
        <tbody class="tdevis">
          <tr>
            <th scope="col">Numéro du devis :</th>
            <td>{{numero}}</td>
          </tr>
          <tr>
            <th scope="col">Date du devis :</th>
            <td>{{date_devis}}</td>
          </tr>
          <tr>
            <th scope="col">Validité :</th>
            <td>14 jours</td>
          </tr>
          <tr>
            <th scope="col">Date d'échéance :</th>
            <td>{{date_echeance}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th style="background-color: #D9D9D9; text-align: left;"><strong>Total à payer :</strong></td>
            <td style="background-color: #D9D9D9; text-align: right;"><strong>{{total}} €</strong></td>
          </tr>
        </table>
      </div>
    </div>

    <!-- TABLEAU -->
    <table>
        <colgroup>
        <col style="width:50%">
        <col style="width:15%">
        <col style="width:15%">
        <col style="width:20%">
      </colgroup>
      <thead>
        <tr>
          <th>Description</th>
          <th>Quantité</th>
          <th>Prix unitaire</th>
          <th>Montant</th>
        </tr>
      </thead>
    

      <tbody>
        {{items}}
      </tbody>

      <tfoot>
        <tr>
          <td></td>
          <th colspan="2" style="text-align: left;">Frais de carburant estimés :</th>
          <td style="background-color: #D9D9D9; text-align: right;">{{frais}}</td>
        </tr>
        <tr>
          <td></td>
          <th colspan="2" style="text-align: left;">Total HT :</th>
          <td style="background-color: #D9D9D9; text-align: right;"><strong>{{total}} €</strong></td>
        </tr>
      </tfoot>
    </table>

    <div>
      <span><strong>Lu et approuvé</strong></span>
      <br> <br>
      Le :
      <br> <br>
      Signature :
    </div>
    <div style="margin-top:20px;">
      <p>
      Devis reçu avant l'exécution des travaux
      <br>
      Les prix indiqués pourront être révisés en fonction de l’évolution du coût du carburant
      entre la date du devis et la réalisation de la prestation
    </div>
    <div style="margin-top:20px;">
      <p>
      Conditions de paiement :
      <br>
      Mentions :
    </div>
    <div>
      <p><i>
      TVA non applicable – Article 293B du Code général des impôts
      <br>
      RÉSERVE DE PROPRIÉTÉ : Les marchandises restent notre propriété jusqu'à complet paiement
      </i></p>
    </div>

    <!--  FOOTER -->
    <div class="footer">
      <div class="footer-line"></div>

      <div class="footer-content">
        <div class="footer-left">
          <p><strong>FM ABATTAGE</strong></p>
          <p>14 rue du Thou, 01240 Saint Paul de Varax</p>
          <p><strong>Tél : </strong>06 78 69 66 86</p>
        </div>

        <div class="footer-right">
          <p><strong>Email : </strong>fmabattage@gmail.com</p>
          <p><strong>N° SIRET : </strong>914 446 364</p>
          <p><strong>Site web : </strong>www.fmabattage.fr</p>
        </div>
      </div>
    </div>
  </body>
</html>