<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../asset/css/Facture.css">
  </head>

  <body>

    <!--HEADER -->
    <div class="header">
      <div>
        <strong>FM ABATTAGE</strong><br>
        14 rue du Thou<br>
        01240 Saint Paul de Varax<br>
        Tél : 06 78 69 66 86<br>
        Email : fmabattage@gmail.com
      </div>

      <div>
        <img src="data:image/png;base64,{{logo}}" width="120">
      </div>
    </div>

    <!--TITRE -->
    <div style="width: 50%; margin-left: auto; text-align: left;">
      <h2 style="margin:0;">Facture</h2>
      <div style="border-top: 1px solid black; margin-top:5px;"></div>
    </div>

    <!--INFOS -->
    <div class="info" style="display:flex; justify-content:space-between;">
      
      <!-- gauche -->
        <div class="client">
        <strong>Client</strong><br>
        {{client_nom}}<br>
        {{client_adresse}}<br>
        {{client_code_postal}} {{client_ville}}<br>
        France <br>
        {{client_tel}}
      </div>

      <!-- droite -->
      <div class="facture">
        <table>
        <tbody class="tfacture">
          <tr>
            <th scope="col">Numéro de la facture :</th>
            <td>{{numero}}</td>
          </tr>
          <tr>
            <th scope="col">Date de la facture :</th>
            <td>{{date_facture}}</td>
          </tr>
          <tr>
            <th scope="col">Validité :</th>
            <td>{{delai_paiement}}</td>
          </tr>
          <tr>
            <th scope="col">Date d'échéance :</th>
            <td>{{date_echeance}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th style="background-color: #D9D9D9; text-align: left;"><strong>Total à payer :</strong></td>
            <td style="background-color: #D9D9D9; text-align: right;"><strong>{{total}}</strong></td>
          </tr>
        </table>
      </div>
    </div>

    <!--TABLEAU -->
    <table>
        <colgroup>
        <col style="width:50%">
        <col style="width:15%">
        <col style="width:15%">
        <col style="width:20%">
      </colgroup>
      <thead>
        <tr>
          <th>Description</th>
          <th>Quantité</th>
          <th>Prix unitaire</th>
          <th>Montant</th>
        </tr>
      </thead>
    

      <tbody>
        {{items}}
      </tbody>

      <tfoot>
        <tr>
          <td></td>
          <th colspan="2" style="text-align: left;">Frais de carburant final :</th>
          <td style="background-color: #D9D9D9; text-align: right;">{{frais}}</td>
        </tr>
        <tr>
          <td></td>
          <th colspan="2" style="text-align: left;">Total HT :</th>
          <td style="background-color: #D9D9D9; text-align: right;"><strong>{{total}}</strong></td>
        </tr>
      </tfoot>
    </table>

    <div>
      Le :
      <br> <br>
      Signature :
    </div>
    <div style="margin-top:20px;">
      <p>
      Conditions de paiement :
      <br>
      Mentions :
    </div>
    <div>
      <p>Le règlement de cette facture peut être effectué par virement bancaire sur le compte dont les coordonnées figurent ci-dessous. Nous vous remercions de mentionner le numéro de facture dans le libellé du virement afin de faciliter son identification.</p>
      <div>
        <strong>COORDONNÉES BANCAIRES</strong>
        <ul>
          <li>Titulaire : FRANCK MEUNIER</li>
          <li>IBAN : FR76 16598 00001 30680780001 61</li>
          <li>BIC : FPELFR21XXX</li>
        </ul>
      </div>
      <p><i>
      TVA non applicable – Article 293B du Code général des impôts</i></p>
    </div>

    <!-- FOOTER -->
    <div class="footer">
      <div class="footer-line"></div>

      <div class="footer-content">
        <div class="footer-left">
          <p><strong>FM ABATTAGE</strong></p>
          <p>14 rue du Thou, 01240 Saint Paul de Varax</p>
          <p><strong>Tél : </strong>06 78 69 66 86</p>
        </div>

        <div class="footer-right">
          <p><strong>Email : </strong>fmabattage@gmail.com</p>
          <p><strong>N° SIRET : </strong>914 446 364</p>
          <p><strong>Site web : </strong>www.fmabattage.fr</p>
        </div>
      </div>
    </div>
  </body>
</html>
