<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../asset/css/Relance.css">
  </head>

  <body>

    <!-- HEADER -->
    <header>
        <div>
            <strong>FM ABATTAGE</strong><br>
            14 rue du Thou<br>
            01240 Saint Paul de Varax<br>
            Tél : 06 78 69 66 86<br>
            Email : fmabattage@gmail.com
        </div>

        <div>
            <img src="data:image/png;base64,{{logo}}" width="100">
        </div>
    </header>


    <!--Client-->
    <section class="client">
            {{client_nom}}<br>
            {{client_adresse}}<br>
            {{client_code_postal}} {{client_ville}}<br>
            {{client_tel}}
    </section>

        <!--Intitulé-->
    <section class="meta">
        <div class="objet">
            <span>Objet : Lettre de troisième relance pour la facture  facture n° {{numero_facture}}</span>
        </div>
        <div class="date">
            <span>Saint Paul de Varax, le {{date}} </span>
        </div>
    </section>

    <!--Corps-->
    <section class="corps">
        <p>
            Madame, Monsieur,
        </p>
        <p>
            Par courrier daté du {{date_relance_1}}, nous vous avions demandé de procéder au règlement de la facture n° {{numero_facture}}.
            Nous vous avons envoyé par la suite une deuxième relance par courrier daté du {{date_relance_2}}, elle aussi restée sans réponse
        </p>
        <p>
            Sauf erreur de notre part, nous n’avons à ce jour toujours pas reçu le paiement de cette facture. Nous vous demandons donc de nous faire parvenir le règlement de cette facture immédiatement.
        </p>
        <p>
            Vous trouverez en pièce jointe de ce courrier une photocopie de la facture concernée et des deux premières lettres de relances
        </p>
        <p>
            Veuillez ne pas tenir compte de cette lettre si votre règlement nous a été adressé avant la réception de ce courrier.
        </p>
        <p>
            Nous restons à votre disposition dans l’hypothèse d’éventuelles questions. Nous vous prions d'agréer, Madame Monsieur, nos salutations respectueuses.
        </p>
    </section>


    <!--Signature-->
    <section class="signature">
        <p>
            Franck Meunier<br>
            Dirigeant de FM Abattage
        </p>
    </section>

  </body>
</html>