<header>
        <nav class="navbar">

            <a href="/">
                <img src="/asset/img/logo.png" alt="Logo de l'entreprise" class="logo">
            </a>

            <ul class="nav-links">
                <li><a href="/">Accueil</a></li>
                <li><a href="/pages/clients.html">Clients</a></li>
                <li><a href="/pages/devis.html">Devis</a></li>
                <li><a href="/pages/factures.html">Factures</a></li>
                <li><a href="/pages/payements.html">Paiements</a></li>
                <li><a href="/pages/relance.html">Impayés</a></li>
                <li><a href="/pages/Depenses.html">Dépenses</a></li>
                <li><a href="/pages/Statistique.html">Statistiques</a></li>
                <li><button id="logoutBtn"><i class="bi bi-box-arrow-right"></i>Déconnexion</button></li>
            </ul>
        </nav>
</header>