<header>
    <div>
        <nav class="navbar">
            <img src="/asset/img/logo.png" alt="Logo de l'entreprise" class="logo">
            <div class="logo">FM Abattage</div>
            <ul class="nav-links">
            <li><a href="/">Accueil</a></li>
            <li><a href="/pages/clients.html">Clients</a></li>
            <li><a href="/pages/devis.html">Devis</a></li>
            <li><a href="/pages/factures.html">Factures</a></li>
            <li><a href="/pages/payements.html">Paiements</a></li>
            </ul>
        </nav>
    </div>
</header>